
* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc;
    margin: auto;
}

html {
    min-height: 100%;
    background-image: linear-gradient(darkblue, #111111);
}

body {
    min-height: 100%;
}

div {
    margin: 32px 64px;
}

#wrapper {
    float: left;
    border: 8px solid darkblue;
    border-right-color: aqua;
    border-bottom-color: aqua;
}

#canvas {
    float: right;
    border: 8px solid darkgreen;
    border-right-color: aqua;
    border-bottom-color: aqua;
}

.background {
    /* position: absolute; */
    background-image: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 150, 0.5));
    /* background-position: center; */
    text-align: center;
    /* opacity: 0.25; */
}

