
* {
    color: #00ffff;
    text-shadow: 4px 4px 4px #000000;
}

html {
    font-family: "Shojumaru", cursive, sans-serif;
    min-height: 100%;
    background-image: linear-gradient(#0000fa, #111111);
}

body {
    width: 64%;
    margin: 0px auto;
}

h1 {
    font-family: "Italianno", cursive, sans-serif;
    font-size: 7.2vw;
}

h2 {
    font-size: 2.4vw;
}

h3 {
    font-size: 1.4vw;
    color: #006400;
}

h4 {
    font-size: 1.8vw;
    color: #006400;
}

div {
    margin: 16px;
}

.background {
    background-image: linear-gradient(#080844, #000096);
    text-align: center;
    padding: 16px;
}

#widthLimiter {
    max-width: 80%;
    margin: 16px auto;
}

#wrapper {
    width: 64%;

    border: 8px solid #00008b;
    border-right-color: #00ffff;
    border-bottom-color: #00ffff;

    margin: 16px auto;
}

#divCanvas {
    position: relative;
}

#mycanvas {
    width: 98.2%;

    border: 8px solid #006400;
    border-right-color: #00ffff;
    border-bottom-color: #00ffff;
}

button {
    position: absolute;
    cursor: pointer;
    width: 40%;
    height: 40%;
    opacity: 0.0;
}

#button1 {
    left: 8%;
    top: 8%;
}

#button2 {
    right: 8%;
    top: 8%;
    border-right-color: #00ffff;
}

#button3 {
    left: 8%;
    bottom: 8%;
    border-bottom-color: #00ffff;
}

#button4 {
    right: 8%;
    bottom: 8%;
    border-right-color: #00ffff;
    border-bottom-color: #00ffff;
}

